/* =Images */
img {
  background: #fff;
  border-color: #bfa55f;
}

.tabbed-on .folder {
  background: #ffeebf;
  border-color: #bfa55f;
}
.tabbed-on .index li {
  background: #dfc88b url(tab-list_li.png) bottom left repeat-x;
  border-color: #bfa55f;
  color: #000;
}
.tabbed-on .index .active {
  background: #ffeebf;
  border-bottom-color: #ffeebf;
}