/* =TabInterface Styles */
.tabbed-on {
  margin: 2em 0 0;
  padding: 1.6em 0;
  position: relative;
}
.tabbed-on .hidden {
  position: absolute;
  left: -999em;
}
.folder {
  border: solid;
  border-width: 1px 2px 2px 1px;
  min-height: 240px;
  max-width: 580px;
  padding: 2em 1em 1em;
  position: absolute;
  top: 0;
  left: -999em;
}
.folder.visible {
  position: static;
}
.tab-list {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -.6em;
  left: 0;
}
.tab-list li {
  border: 1px solid;
  border-bottom: 2px solid;
  cursor: pointer;
  font-size: 0.833em;
  letter-spacing: .1em;
  line-height: 1.1;
  list-style: none;
  float: left;
  padding: .6em 10px .5em;
  margin: -1px 5px 0 0;
  text-transform: uppercase;
  white-space: normal;
}
.tab-list li:hover {
}
.tab-list li:focus {
  outline: 1px dotted;
}
.tab-list .active-tab {
  border-right-width: 2px;
  line-height: 1.2;
  padding: .5em 10px .5em;
}